<form>
    <label for="message">Message</label>
    <textarea class="u-full-width" placeholder="Hello!" id="message"></textarea>
    <label for="name">Name</label>
    <input class="u-full-width" type="text" placeholder="Your name" id="name">
    <label for="emailInput">Your email</label>
    <input class="u-full-width" type="email" placeholder="foo@bar.se" id="emailInput">
    <label for="websiteurl">Web site</label>
    <input class="u-full-width" type="text" placeholder="Your web site" id="websiteurl">
    <input class="button-primary" type="submit" value="Comment!">
</form>