<form (ngSubmit)="onSubmit()" #commentForm="ngForm">
    <label for="message">Message</label>
    <textarea class="u-full-width" placeholder="Hello!" id="message" name="message" [(ngModel)]="comment.content"></textarea>

    <label for="name">*Name</label>
    <input class="u-full-width" type="text" placeholder="Your name" id="name" name="name" [(ngModel)]="comment.authorName" #name="ngModel" required>

    <label for="emailInput">*Email</label>
    <input class="u-full-width" type="email" placeholder="foo@bar.se" id="emailInput" name="emailInput" [(ngModel)]="comment.authorEmail" #email="ngModel" required>

    <label for="websiteurl">Web site</label>
    <input class="u-full-width" type="text" placeholder="Your web site" id="websiteurl" name="websiteurl" [(ngModel)]="comment.authorUrl">

    <input class="button-primary" type="submit" value="Send comment" [disabled]="!commentForm.form.valid || submitDisabled">

    <div *ngIf="successMessageVisible" class="alert alert-success">Your comment has been sent for validation!</div>
</form>
