
<div [ngClass]="{ addLevelMargin: level > 0 }" *ngFor="let comment of comments">
    <div style="font-weight: bold">
        {{ comment.authorName }}&nbsp;|&nbsp;{{ comment.createdDate.format("YYYY-MM-DD HH:mm") }}
    </div>
    <div class="commentArea" [ngClass]="{waitingValidation: comment.id === -1}" [innerHTML]="comment.content"></div>

    <!-- Reply to link and reply form -->
    <span *ngIf="comment.id > 0 && level < 3">
        <h4 *ngIf="comment.replyFormIsOpened">{{ 'Reply to ' + comment.authorName }}</h4>
        <a class="commentReply" (click)="toggleReplyToCommentForm(comment)" href="javascript:void(0);">
            {{ comment.replyFormIsOpened ? ('Close') : 'Reply' }}
        </a>
    </span>

    <commentform *ngIf="comment.replyFormIsOpened" [comment]="replyComment" [parentId]="comment.id" (commentSent)="commentSentInForm($event)"></commentform>
    <!-- -->

    <hr>
    <commentlist *ngIf="comment.childs.length > 0" [comments]="comment.childs" (replyFormVisibleToggle)="replyFormVisibleToggle.emit($event)" 
        [level]="level + 1" (commentSent)="commentSent.emit($event)"></commentlist>
</div>

