<h1>About me</h1>

<p>
I am a full stack web developer living and working in Uppsala. I work at a web design
company <a href="http://www.exor.se">Exor</a> were I mainly use Microsoft technologies such as ASP.NET, 
WEB API, MS Sql. Other techniques I use is Javascript, KnockoutJS and JQuery to name a few.
</p>
<p>
In my spare time I like trying out new programming languages, frameworks and tools. I have done projects
with Angular2, Native script, NodeJs, MongoDB to name a few, along with a few games. You can watch most of my experiments on my
GitHub <a href="https://github.com/MannuPannu">here</a>. I like the open source community very much and I try and constantly learn
new things and be inspired by awesome programmers.
</p>
<p>
    I have a bachelor degree in computer engineering at Uppsala University.
</p>
