   <div *ngIf="article !== null">
        <h2 [innerHTML]="article.data.title"></h2>
        <h6 class="articleDateText">{{ articleDate }}&nbsp;|&nbsp;{{ numberOfCommentsStr }}</h6>
        <p>
            <span [innerHTML]="article.data.content">
            </span>
        </p>

        <div id="comments">
            <h4>Comments</h4>
            <hr>
            <div *ngFor="let comment of article.comments">
                <div style="font-weight: bold">
                    {{ comment.authorName }}&nbsp;|&nbsp;{{ comment.createdDate.format("YYYY-MM-DD HH:mm") }}
                </div>
                <div class="commentArea" [innerHTML]="comment.content">
                </div>
                <!--<span>{{ comment | json }}</span>-->
            </div>
        </div>
    </div>