   <div *ngIf="article !== null">
        <h2 [innerHTML]="article.data.title.rendered"></h2>
        <h6 class="articleDateText">{{ articleDate }}&nbsp;|&nbsp;{{ numberOfCommentsStr }}</h6>
        <p>
            <span [innerHTML]="article.data.content.rendered">
            </span>
        </p>

        <div id="comments">
            <h4>Comments</h4>
            <hr>
            <div *ngFor="let comment of sortByDate(article.comments)">
                <div style="font-weight: bold">
                    {{ comment.author_name }}&nbsp;|&nbsp;{{ getCommentDate(comment.date) }}
                </div>
                <div class="commentArea" [innerHTML]="comment.content.rendered">
                </div>
                <span>{{ comment | json }}</span>
            </div>
        </div>
    </div>