<section class="topbar">
    <div class="titleContainer">
        <div class="title">Magnus Stenqvist</div>
        <span class="sub-title">On programming, tech & games</span>
    </div>
</section>
<menubar></menubar>
<section class="container">
    <div class="row">
        <div class="eight columns">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="four columns">
            <div class="content aboutMeContainer">
                <div class="aboutPic"></div>
                <div class="aboutMeText">
                    <p>
                    Fullstack web developer working at <a href="http://www.exor.se">Exor</a> in Uppsala, Sweden.
                    Currently programming in Javscript, .Net Web API, MS SQL. Fond of programming languages in general
                    and the new exciting stuff in the world of web programming. 
                    </p>
                    <p>
                        Read more about <a routerLink="/wordpress/aboutme">me</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <div class="footer-title">
        <h6>&copy; 2016 Magnus Stenqvist</h6>
    </div>
</section>

